{% extends 'layout.html' %} 
{% block title %}
<title>Live Inference - AFL Monitoring</title>
{% endblock %} 
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">

            <h2 class="mt-5">Live Inference - AFL Monitoring</h2>
            <form method="post" action="{{ url_for('ir_tasks') }}">
            <input type="submit" value="Run Model" name="run_model" />
            <input type="submit" value="Stop Model" name="stop_model"/>
          
            
            </form>
            <img src="{{ url_for('video_feed') }}" height="80%">
            <h3 style="font-family:courier;">Instructions:</h3>
            <ol style="font-family:courier;">
            <li>Here</li>
            
        </div>
    </div>
</div>

    
{% endblock %}